@font-face {
  font-family: brandon;
  src: url("../fonts/brandon/HVD Fonts - BrandonText-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: brandon-black;
  src: url("../fonts/brandon/HVD Fonts - BrandonText-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: brandon-bold;
  src: url("../fonts/brandon/HVD Fonts - BrandonText-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*  ---------------------------------------------------------------
    general style
    --------------------------------------------------------------- */
/* apply a natural box layout model to all elements  - http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
*, *:before, *:after {
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box; */
  /*box-sizing: border-box;*/ }

*:focus {
  outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* ! removes focus line */
html, body {
  width: 100%;
  min-height: 100%; }

body {
  padding-top: 70px; }

.navbar {
  margin-bottom: 0px;
  background-color: transparent; }
  .navbar .navbar-nav li a {
    font-family: brandon-bold;
    text-transform: uppercase;
    color: #393939;
    font-size: 14px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none; }
  .navbar .navbar-nav li a:after {
    content: '';
    display: block;
    border-bottom: 3px solid #fd740c;
    width: 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    margin: 0px auto;
    padding-top: 5px; }
  .navbar .navbar-nav li.active a {
    color: #fd740c;
    background-color: transparent; }
  .navbar .navbar-nav li:hover a:after {
    width: 50%;
    background-color: transparent; }

.header .logo {
  margin: 0px auto;
  text-align: center;
  padding: 10px 0px; }
  .header .logo img {
    width: 60%;
    height: auto; }

.slider {
  margin-top: 10px; }

#content {
  margin-top: -10px; }

.section .title h1 {
  font-size: 48px;
  font-family: 'brandon-black', sans-serif;
  text-transform: uppercase;
  color: #393939; }
.section .title h4 {
  color: #fd740c;
  text-transform: uppercase; }
  .section .title h4::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fd740c;
    width: 20%;
    margin-top: 10px; }

.aboutus {
  background: #edebec;
  min-height: 488px; }
  .aboutus .title {
    margin-top: 90px; }

.portfolio {
  background: #f8720c; }
  .portfolio .portfolio-title {
    text-align: center;
    font-family: 'brandon-black',sans-serif; }
    .portfolio .portfolio-title h1 {
      font-size: 48px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase; }
      .portfolio .portfolio-title h1::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fff;
        width: 10%;
        margin: 15px auto; }
  .portfolio .cbp-l-filters-alignCenter .cbp-filter-item {
    border: 1px solid #fff;
    padding: 3px 8px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 10px; }
    .portfolio .cbp-l-filters-alignCenter .cbp-filter-item:hover {
      color: #f8720c;
      background-color: #fff; }
  .portfolio .cbp-l-filters-alignCenter .cbp-filter-item-active {
    background-color: #fff;
    color: #f8720c !important; }

.teamwork {
  background: url("../img/teamwork-bg.jpg") 50% 100% repeat fixed;
  position: relative;
  height: auto;
  padding-bottom: 70px; }
  .teamwork .teamwork-content {
    padding-top: 70px; }
    .teamwork .teamwork-content .teamwork-contact {
      padding: 0px;
      list-style: none;
      margin-top: 30px; }
      .teamwork .teamwork-content .teamwork-contact li {
        float: left;
        padding-right: 15px; }
        .teamwork .teamwork-content .teamwork-contact li a {
          color: #fff;
          -webkit-transition: all .25s ease-in;
          -moz-transition: all .25s ease-in;
          -ms-transition: all .25s ease-in;
          -o-transition: all .25s ease-in;
          transition: all .25s ease-in; }
          .teamwork .teamwork-content .teamwork-contact li a .fa {
            width: 55px;
            height: 55px;
            padding: 10px;
            text-align: center;
            border-radius: 50%;
            border: 3px solid #fff; }
          .teamwork .teamwork-content .teamwork-contact li a:hover {
            color: #f8720c; }
    .teamwork .teamwork-content .title h1 {
      color: #fff; }
    .teamwork .teamwork-content .title p {
      color: #fff; }

.brand {
  background: url("../img/brand-bg.jpg") repeat;
  height: 80px; }

#brand-carousel {
  cursor: pointer; }
  #brand-carousel > .owl-controls {
    display: none; }
  #brand-carousel .brand-item {
    padding-top: 10px; }
    #brand-carousel .brand-item img {
      width: auto;
      margin: 0 auto;
      text-align: center; }

.arrow-down-aboutus {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 0 auto;
  border-top: 20px solid #F6F5F5; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 0 auto;
  border-top: 20px solid #fff; }

.portfolio_bg {
  background-image: url("../img/portfolio_bg.jpg");
  margin: 0 auto;
  position: relative;
  z-index: 9999; }

.contact {
  background: url("../img/contact_bg.jpg") 50% 100% repeat fixed;
  position: relative;
  padding-bottom: 70px; }
  .contact .contact-content {
    padding: 70px 0px; }
    @media screen and (max-width: 991px) {
      .contact .contact-content .contact-form {
        margin-bottom: 50px; }
      .contact .contact-content .typo {
        text-align: center;
        margin-bottom: 20px; } }
  .contact .form {
    width: 100%; }
    .contact .form .form-control {
      margin-bottom: 20px;
      background-color: transparent;
      border-radius: 0px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 1px solid #fff;
      padding-left: 0px;
      color: #fff; }
      .contact .form .form-control:focus {
        box-shadow: none;
        content: ''; }
        .contact .form .form-control:focus input {
          width: 100%; }
  .contact button.btn {
    width: 100%;
    font-size: 16px;
    background-color: #f8720c;
    color: #fff;
    border: 1px solid #f8720c;
    border-radius: 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    .contact button.btn:hover {
      background-color: transparent; }
  .contact ::-webkit-input-placeholder {
    color: #fff; }
  .contact :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }
  .contact ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .contact :-ms-input-placeholder {
    color: #fff; }

.footer {
  width: 100%;
  background-color: #111; }
  .footer .copy-right {
    vertical-align: middle; }
    .footer .copy-right p {
      margin: 0 auto;
      padding: 8px;
      font-size: 11px;
      color: #ddd;
      text-align: center; }

.cbp-item-wrapper {
  border: 5px solid #fff; }

.cbp-l-loadMore-text {
  padding: 20px 0px;
  color: #fff;
  border: 1px solid #fff; }

.cbp-1-grid-masonry .cbp-item {
  width: 277px;
  margin: 10px; }

.cbp-1-grid-masonry .cbp-1-grid-masonry-height1 {
  width: 267px; }

.cbp-1-grid-masonry .cbp-1-grid-masonry-height2 {
  width: 415px; }

.custom2 .owl-item img {
  width: auto !important; }

.custom2 .owl-nav {
  display: none; }
  .custom2 .owl-nav .owl-next {
    right: -10% !important; }
  .custom2 .owl-nav .owl-prev {
    left: -10% !important; }

@media screen and (max-width: 767px) {
  body {
    padding-top: 0px; }

  .navbar-fixed-top {
    position: relative; }

  .navbar-nav {
    float: none !important; } }

/*# sourceMappingURL=onepixel.css.map */
